<div class="container">
  <div class="dashboard-wrapper">
    <div class="dashboard-box">
      <nav class="dash-nav">
        <button id="createNew-btn">
          <img
            src="../../../assets/images/add-outline.svg"
            alt="create new button"
            class="create-new-img"
          />
          <p id="create-new">CREATE NEW</p>
        </button>
        <form>
          <img src="../../../assets/images/search-thin.svg" />
          <input type="text" class="search-tab" />
        </form>
      </nav>
      <br />
      <main class="dashboard-main">
        <div class="folder-card" *ngFor="let folderName of folderNames">
          <a href="#">
            <div class="card-bg"></div>
            <div class="folder-title">{{ folderName }}</div>
            <div class="extra-info">
              Last edited:
              <span class="extra-info-date">22. November</span>
            </div>
          </a>
        </div>
      </main>
    </div>
    <div class="calendar-box">
      <div class="calendar-top">CALENDAR</div>
      <br>
      <div class="calendar-dates-wrapper">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, cumque!</div>
    </div>
  </div>
</div>
