.calendar-top {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-basis: 7%;
  padding: 10px;

  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  color: whitesmoke;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  white-space: pre;
}

.calendar-dates-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    width: fill-content;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
}