/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
    
    background-image: url(../src/assets/images/wallpapersden.com_desert-sun-day-minimalism_3840x2160.jpg);
    background-size: cover;
}
